torch
torchvision
einops==0.8
fairscale==0.4
kornia==0.8
lancedb
opencv-python-headless>=4.11,<4.12
pandas==2.2
pillow>=11.2,<11.3
protobuf==6.30
pylance
scipy==1.15
six==1.17
tensorboard==2.19
timm==1.0.15
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/tldrafael/transformers.git@my
